### JetBrains ###
.idea/
*.iml

### Visual studio ###
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

### VS Code ###
.vscode/
.history/


### Node ###
logs
*.log
node_modules/
package-lock.json
dist/
*.tsbuildinfo


### .NET ###
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww]in32/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
*.dll
*.exe
*.pdb
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

### Angular ###
.angular
*.ngsummary.json
*.ngfactory.ts

### Flutter ###
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter_tool

### Dart ###
.packages
.dart_tool/
*.dart_tool/

### Python ###
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
.env

### React ###
build/
.env
.env.local

### React Native ###
android/
ios/
*.xcuserstate
*.xcodeproj/
*.xcworkspace/
*.env

### TypeScript ###
*.tsbuildinfo
*.js
!app.js

### Vue ###
*.local
*.env
*.env.local
*.env.development
*.env.production
*.env.test

